<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4K1sEB9t31y3RQ500f08Ujqb7PnSoLeqf2SEywNs91NQxBBp6mxN1gdzUYQdqL0_ZPs&usqp=CAU"
    />
    <title>Demo Amazon Textract</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/home.css') }}"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    />
  </head>
  <body>
    <div class="container">
      <h1>GROUP 26</h1>
      <br />
      <h1>AMAZON TEXTRACT</h1>
      <form method="POST" action="/login" enctype="multipart/form-data">
        <div class="form-control">
          <input type="text" placeholder="AWS Access Key ID" name="aws_id" />
          <span></span>
          <small></small>
        </div>
        <div class="form-control">
          <input
            type="text"
            class="pas"
            placeholder="AWS Secret Access Key"
            name="aws_key"
          />
          <span></span>
          <small></small>
        </div>
        <div class="form-control">
          <input
            type="text"
            class="pas"
            placeholder="AWS Session Token"
            name="aws_token"
          />
          <span></span>
          <small></small>
        </div>
        <input type="submit" value="Xác nhận" class="login" />
        <div class="signup_link"></div>
      </form>
    </div>
  </body>
</html>
